section
  position: relative

.train-detail
  width: 100%
  border: 10px solid rgba(255,255,255,0.85)
  +media($tablet)
    border-width: 20px

.train-description
  margin-top: 10px
  padding: 10px
  background: rgba(255,255,255,0.85)

  +media($tablet)
    margin-top: 20px
    padding: 20px

  +media($phone)
    width: calc(50% - 10px)
    display: inline-block

    &_right
      margin-left: 20px

  &_item
    margin-bottom: 20px
    font-size: 18px
    text-align: center
    +transition(0.5s)

    +media($tablet)
      text-align: left

    &:last-of-type
      margin-bottom: 0

    span
      font-weight: bold
      display: inline-block
      width: 100%
      text-align: center

      +media($tablet)
        padding-right: 18px
        width: 160px
        text-align: right

.btn-actions
  width: 100%
  margin: 10px 10px 0 0

  +media($phone)
    width: auto

  +media($tablet)
    margin: 20px 20px 20px 0

.train-header
  background: rgba(255,255,255,0.85)
  margin-bottom: 10px
  padding: 10px
  text-align: center
  +font(25px,30px)

  +media($tablet)
    margin-bottom: 20px
    padding: 20px
    +font(50px,60px)

._train-detail
  .navbar
    .container
      +media($tablet)
        max-width: 710px
        //padding: 0
      +media($small-desktop)
        max-width: 1130px