section
  position: relative

.train-detail, .user-detail
  width: 100%
  min-width: 100%
  display: block
  +media($phone)
    border: 10px solid rgba(255,255,255,0.85)
  +media($tablet)
    border-width: 20px
  & + div
    width: 100% !important
    cursor: pointer
    text-align: center
    input
      cursor: pointer
    &:hover
      button
        color: $color-black
        &:before
          +scaleX(1)

.user-detail, .train-detail
  width: auto
  min-width: auto
  max-width: 100%
  margin: 0 auto

#upload_link
  margin: 0 auto

button:not(.navbar-toggle)
  cursor: pointer
  @extend %btn-basic
  text-align: left

.train-description
  margin-top: 10px
  padding: 10px
  padding-bottom: 0
  background: rgba(255,255,255,0.85)

  +media($small-desktop)
    margin-top: 20px
    padding: 20px

  +media($small-desktop)
    width: calc(50% - 10px)
    display: inline-block
    vertical-align: top

    &_right
      margin-left: 20px

  &_item
    margin-bottom: 5px
    //font-size: 18px
    //text-align: center
    position: relative
    +transition(0.5s)

    +media($tablet)
      text-align: left

    +mediaTo($small-desktop)
      //&:nth-of-type(3n + 3)
      //  border-bottom: 1px solid #000000
      //  padding-bottom: 10px
      //  margin-bottom: 0
      //  &:last-of-type
      //    border: none
      //
      //&:nth-of-type(3n + 4)
      //  padding-top: 10px
      //  &:last-of-type
      //    margin-bottom: 10px
      //
      &:last-of-type
        margin-bottom: 0

    span.train-label
      width: 100%
      text-align: left
      line-height: 25px
      +media($phone)
        line-height: 45px
        text-align: right
        position: absolute
        left: 0
        width: 150px
        padding-right: 20px
    span:not(.train-label), input, select
      @extend %basic-input
      width: 100%
      height: 45px
      +media($phone)
        width: calc(100% - 170px)
        margin-left: 170px
    select
      padding: 0 0 0 27px
    option
      @extend %basic-input

  &:last-of-type
    margin-top: 0
    padding-top: 0
    +mediaTo($small-desktop)
      padding-bottom: 10px
    +media($small-desktop)
      padding-top: 20px
      margin-top: 20px
    +mediaTo($small-desktop)
      .train-description_item
        &:first-of-type
          padding-top: 5px
          //border-top: 1px solid $color-black

.btn-actions
  width: 100%
  margin: 10px 10px 0 0
  +mediaTo($phone)
    text-align: center !important

  +media($phone)
    width: auto

  +media($tablet)
    margin: 20px 20px 20px 0

  &.btn-add
    +media($tablet)
      margin: 0 0 5px 0


.train-header,.station-header
  background: rgba(255,255,255,0.85)
  margin-bottom: 10px
  padding: 10px
  text-align: center
  +font(25px,30px)

  +media($tablet)
    margin-bottom: 20px
    padding: 20px
    +font(50px,60px)

.station-header
  +media($tablet)
    margin: 0


.btn-actions, .btn-back
  font-weight: bold
  padding: 15px 30px
  background: $color-dark
  //border: 1px solid $color-dark-border
  border: none
  color: rgba(255,255,255,0.7)
  position: relative
  transform: translateZ(0px)
  +transition(0.3s)
  +transition(0.5s)
  +font(15px,15px)

  &:hover
    color: $color-black
    &:before
      +scaleX(1)
  
  &:before
    background: $color-white none repeat scroll 0 0
    bottom: 0
    left: 0
    right: 0
    top: 0
    content: ""
    position: absolute
    z-index: -1
    +scaleX(0)
    +transform-origin(0 50% 0)
    +transition(0.3s transform ease-out)


._train-detail
  .navbar
    .container
      +media($tablet)
        max-width: 710px
        //padding: 0
      +media($small-desktop)
        max-width: 1130px